extends layout

block content
    h1= title
    p Vi er en sammenslutning af datamatiker studerende der hver fredag studerer forskellen på smagen af carlsberg, tuborg og breezers
    p Vurderinger af øl
    br
    p Carlsberg er vurderet til at være en gennemsnitlig kedelig øl
    img(src="/images/carlsberg.jpg")
    br
    p Tuborg er også en jævnt kedelig bryg
    img(src="/images/tuborg.jpg")
    br
    p Breezer er selvfølgelig bare sukkervand med smagsstoffer og vodka erstatning :)
    img(src="/images/breezer.png")
